.mapContainer {
  height: 300px;
  width: 260px;
  z-index: 0;

  @media (min-width: 425px) {
    height: 300px;
    width: 400px;
  }

  @media (min-width: 768px) {
    height: 300px;
    width: 700px;
  }
}
